:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.w-40 {
  width: 40%;
  border: 1px solid green;
  container-type: inline-size;
}
.w-60 {
  width: 60%;
  border: 1px solid blue;
  container-type: inline-size;
}
.w-100 {
  width: 100%;
  border: 1px solid red;
  container-type: inline-size;
  margin: 20px 0;
}

/*.bg {
  background: url(https://images.thenorthface.com/is/image/TheNorthFace/NF0A4ALM_BQW_hero?hei=300);
  width: 258px;
  height: 300px;
}
.bg-473 {
  background: url(https://images.thenorthface.com/is/image/TheNorthFace/NF0A4ALM_BQW_hero?hei=550);
  width: 473px;
  height: 550px;
}
.bg-682 {
  background: url(https://images.thenorthface.com/is/image/TheNorthFace/NF0A4ALM_BQW_hero?hei=792);
  width: 682px;
  height: 792px;
}
.bg-473 {
  display: none;
}
.bg-682 {
  display: none;
}
@container (min-width: 473px) {
  .bg-473 {
    display: block;
  }
  :not(.bg-473) {
    display: none;
  }
}
@container (min-width: 682px) {
  .bg-682 {
    display: block;
  }
  :not(.bg-682) {
    display: none;
  }
}*/
